<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="row mb-5">
        <nav class="navbar navbar-light bg-light ">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1 p-2">Projeto SIGECAD</span>
            </div>
        </nav>
    </div>

    {{{ body }}}

    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>